html, body
{
	height: 100%;
}

.div-full-image
{
	background: url('../imgs/hero_image.png') no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    height: 100%;
    background-attachment: fixed;
}
@media only screen and (max-device-width: 1024px)
{
    .div-full-image
    {
        background-attachment: scroll;
    }
}
.trans-button
{
	border-style: solid;
	border-radius: 0px;
	border-width: 4px;
	border-color: white;
	background: transparent;
	color: white;
}
.trans-button:hover
{
	border-color: rgb(231,110,43);
	color:rgb(231,110,43);
	cursor: pointer;
}
.trans-button2
{
	border-style: solid;
	border-radius: 0px;
	border-width: 4px;
	border-color: red;
	background: transparent;
	color: red;
}
.trans-button2:hover
{
	border-color: blue;
	color:blue;
	cursor: pointer;
}
.sections1
{
	height: 100%;
	min-height: 850px;
}
@media only screen and (max-device-height: 640px) and (orientation: portrait)
{
	.sections1
	{
		height: auto;
		min-height: auto;
		padding-bottom:20px;
	}
}

@media only screen and (max-device-height: 667px) and (orientation: portrait)
{
	.sections1
	{
		height: auto;
		min-height: auto;
		padding-bottom:50px;
	}
}

@media only screen and (max-device-height: 599px) and (orientation: landscape)
{
	.sections1
	{
		height: auto;
		min-height: auto;
		padding-bottom:20px;
	}
}

@media only screen and (max-device-height: 600px) and (max-device-height: 1024px) and (orientation: landscape)
{
	.sections1
	{
		height: auto;
		min-height: auto;
		padding-bottom:20px;
	}
}

@media only screen and (min-device-height: 670px) and (max-device-height: 960px) and (orientation: portrait)
{
	.sections1
	{
		height: 100%;
		min-height: auto;
	}

	.main-row
	{
		margin-top: -33px;
		padding-bottom: 5px;
	}
}
.sections2
{
	height: auto;
	margin-top: 10%;
	margin-bottom: 10%;
	/*min-height: 1200px;*/
}
.sections3
{
	padding-top: 3%;
	padding-bottom: 3%;
}
.vertical-center
{
	margin-top: auto;
	margin-bottom: auto;
}

.my-footer
{
	height: 90px;
}

@media only screen and (min-width: 768px)
{
	.my-footer
	{
	    height: 60px;
	}
}

.my-link
{
	color: white !important;
	font-size: 15px;
}

.my-link:hover
{
	color: rgb(231,110,43) !important;
		text-decoration: underline;
}

.footer-link
{
	font-size: 15px;
}

.footer-link:hover
{
	color: white !important;
		text-decoration: underline;
		cursor: pointer;
}

.trans-button3
{
	border-style: solid;
	border-radius: 0px;
	border-width: 3px;
	border-color: rgb(66,15,83);
	background: transparent;
	color: rgb(66,15,83);
	font-size: 16px;
	padding: 10px 20px;
}
.trans-button3:hover
{
	border-color: blue;
	color:blue;
	cursor: pointer;
}

.trans-button4
{
	border-style: solid;
	border-radius: 0px;
	border-width: 3px;
	border-color: red;
	background: transparent;
	color: red;
	font-size: 16px;
	padding: 10px 20px;
}
.trans-button4:hover
{
	border-color: orange;
	color:orange;
	cursor: pointer;
}

.modal-content
{
	border-radius: 0px;
}

.modal-header
{
	border-bottom-style: none;
}

.modal-footer
{
	border-top-style: none;
}
